{% extends 'layout.html.twig' %}

{% block navigation %}
    <p><a href="">Home</a></p>
    <p><a href="">About</a></p>
    <p><a href="">Test</a></p>
{% endblock %}

{% block content %}

{% endblock %}