<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}
                Layout title
            {% endblock %}
        </title>
    </head>
    <body>
        <nav>
            <p><a href="">Home</a></p>
            <p><a href="">About</a></p>
            <p><a href="">Test</a></p>
        </nav>
    </body>
</html>